<head>

  <link rel="stylesheet" href="res/css/tree.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">

  <script>var runOnLoad=function(c,o,d,e){function x(){for(e=1;c.length;)c.shift()()}o[d]?(document[d]('DOMContentLoaded',x,0),o[d]('load',x,0)):o.attachEvent('onload',x);return function(t){e?o.setTimeout(t,0):c.push(t)}}([],window,'addEventListener');</script>

  <script type="text/javascript" src="res/js/CollapsibleLists.src.js">

  </script>
  <script type="text/javascript">
    runOnLoad(function(){ CollapsibleLists.apply(); });
  </script>
</head>
<body>
  <div class="summary-button">
      <a id="treeNav" href="Full-Report.html">View Summary</a>
  </div>
<ul class="collapsibleList" >
  <div id="prevTree">Previous Tree</div><li style="color:white;" class="m-wrap"> Level 0: Start Pos: 0,0 Type(class): LinearLayout ID:  Name:  Type(class): LinearLayout Rectangle: 1440,2368
</span><ul><li style="color:white;" class="m-wrap"> Level 1: Start Pos: 0,0 Type(class): LinearLayout ID: com.apalon.ringtones:id/app_bar Name:  Type(class): LinearLayout Rectangle: 1440,984
</span><ul><li style="color:white;" class="m-wrap"> Level 2: Start Pos: 0,0 Type(class): FrameLayout ID: com.apalon.ringtones:id/toolbar_layout Name:  Type(class): FrameLayout Rectangle: 1440,984
<ul><li style="color:red;" class="m-wrap"> Level 3: Start Pos: 0,0 Type(class): ImageView ID: com.apalon.ringtones:id/cover_view Name:  Type(class): ImageView Rectangle: 1440,984
</li></ul><ul><li style="color:red;" class="m-wrap"> Level 3: Start Pos: 0,96 Type(class): ImageButton ID:  Name:  Type(class): ImageButton Rectangle: 224,224
</li></ul></li></ul><ul><li style="color:white;" class="m-wrap"> Level 2: Start Pos: 0,984 Type(class): RecyclerView ID: com.apalon.ringtones:id/ringtones_recycler Name:  Type(class): RecyclerView Rectangle: 1440,1384
<ul><li style="color:white;" class="m-wrap"> Level 3: Start Pos: 0,984 Type(class): RelativeLayout ID:  Name:  Type(class): RelativeLayout Rectangle: 1440,290
<ul><li style="color:white;" class="m-wrap"> Level 4: Start Pos: 64,1048 Type(class): LinearLayout ID:  Name:  Type(class): LinearLayout Rectangle: 1152,162
<ul><li style="color:white;" class="m-wrap"> Level 5: Start Pos: 64,1048 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_title Name: Indie Weekend Type(class): TextView Rectangle: 414,86
</li></ul><ul><li style="color:white;" class="m-wrap"> Level 5: Start Pos: 64,1134 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_catergory Name: Rock Type(class): TextView Rectangle: 124,76
</li></ul></li></ul><ul><li style="color:white;" class="m-wrap"> Level 4: Start Pos: 1216,1048 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_duration Name: 00:26 Type(class): TextView Rectangle: 160,86
</li></ul></li></ul><ul><li style="color:white;" class="m-wrap"> Level 3: Start Pos: 0,1274 Type(class): RelativeLayout ID:  Name:  Type(class): RelativeLayout Rectangle: 1440,290
<ul><li style="color:white;" class="m-wrap"> Level 4: Start Pos: 64,1338 Type(class): LinearLayout ID:  Name:  Type(class): LinearLayout Rectangle: 1152,162
<ul><li style="color:white;" class="m-wrap"> Level 5: Start Pos: 64,1338 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_title Name: Britpop Loop Type(class): TextView Rectangle: 368,86
</li></ul><ul><li style="color:white;" class="m-wrap"> Level 5: Start Pos: 64,1424 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_catergory Name: Rock Type(class): TextView Rectangle: 124,76
</li></ul></li></ul><ul><li style="color:white;" class="m-wrap"> Level 4: Start Pos: 1216,1338 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_duration Name: 00:32 Type(class): TextView Rectangle: 160,86
</li></ul></li></ul><ul><li style="color:white;" class="m-wrap"> Level 3: Start Pos: 0,1564 Type(class): RelativeLayout ID:  Name:  Type(class): RelativeLayout Rectangle: 1440,290
<ul><li style="color:white;" class="m-wrap"> Level 4: Start Pos: 64,1628 Type(class): LinearLayout ID:  Name:  Type(class): LinearLayout Rectangle: 1152,162
<ul><li style="color:white;" class="m-wrap"> Level 5: Start Pos: 64,1628 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_title Name: Midnight In Glasgow Type(class): TextView Rectangle: 584,86
</li></ul><ul><li style="color:white;" class="m-wrap"> Level 5: Start Pos: 64,1714 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_catergory Name: Rock Type(class): TextView Rectangle: 124,76
</li></ul></li></ul><ul><li style="color:white;" class="m-wrap"> Level 4: Start Pos: 1216,1628 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_duration Name: 00:21 Type(class): TextView Rectangle: 160,86
</li></ul></li></ul><ul><li style="color:white;" class="m-wrap"> Level 3: Start Pos: 0,1854 Type(class): RelativeLayout ID:  Name:  Type(class): RelativeLayout Rectangle: 1440,290
<ul><li style="color:white;" class="m-wrap"> Level 4: Start Pos: 64,1918 Type(class): LinearLayout ID:  Name:  Type(class): LinearLayout Rectangle: 1152,162
<ul><li style="color:red;" class="m-wrap"> Level 5: Start Pos: 64,1918 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_title Name: Magnetic Type(class): TextView Rectangle: 267,86
</li></ul><ul><li style="color:white;" class="m-wrap"> Level 5: Start Pos: 64,2004 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_catergory Name: Rock Type(class): TextView Rectangle: 124,76
</li></ul></li></ul><ul><li style="color:white;" class="m-wrap"> Level 4: Start Pos: 1216,1918 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_duration Name: 00:23 Type(class): TextView Rectangle: 160,86
</li></ul></li></ul><ul><li style="color:white;" class="m-wrap"> Level 3: Start Pos: 0,2144 Type(class): RelativeLayout ID:  Name:  Type(class): RelativeLayout Rectangle: 1440,224
<ul><li style="color:white;" class="m-wrap"> Level 4: Start Pos: 64,2208 Type(class): LinearLayout ID:  Name:  Type(class): LinearLayout Rectangle: 1152,160
<ul><li style="color:white;" class="m-wrap"> Level 5: Start Pos: 64,2208 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_title Name: Groovy Background Type(class): TextView Rectangle: 556,86
</li></ul><ul><li style="color:white;" class="m-wrap"> Level 5: Start Pos: 64,2294 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_catergory Name: Rock Type(class): TextView Rectangle: 124,74
</li></ul></li></ul><ul><li style="color:white;" class="m-wrap"> Level 4: Start Pos: 1216,2208 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_duration Name: 00:14 Type(class): TextView Rectangle: 160,86
</li></ul></li></ul></li></ul></li></ul></li><div class="buffer"></div></ul><ul class="collapsibleList"><div id="newTree">New Tree</div><li style="color:white;" class="m-wrap"> Level 0: Start Pos: 0,0 Type(class): FrameLayout ID:  Name:  Type(class): FrameLayout Rectangle: 1440,2368
</span><ul><li style="color:white;" class="m-wrap"> Level 1: Start Pos: 0,0 Type(class): ViewGroup ID:  Name:  Type(class): ViewGroup Rectangle: 1440,2368
</span><ul><li style="color:white;" class="m-wrap"> Level 2: Start Pos: 0,0 Type(class): FrameLayout ID: com.apalon.ringtones:id/toolbar_layout Name:  Type(class): FrameLayout Rectangle: 1440,984
<ul><li style="color:red;" class="m-wrap"> Level 3: Start Pos: 0,0 Type(class): ImageView ID: com.apalon.ringtones:id/cover_view Name:  Type(class): ImageView Rectangle: 1440,984
</li></ul><ul><li style="color:red;" class="m-wrap"> Level 3: Start Pos: 0,96 Type(class): ImageButton ID:  Name:  Type(class): ImageButton Rectangle: 224,224
</li></ul></li></ul><ul><li style="color:white;" class="m-wrap"> Level 2: Start Pos: 0,984 Type(class): RecyclerView ID: com.apalon.ringtones:id/ringtones_recycler Name:  Type(class): RecyclerView Rectangle: 1440,1384
<ul><li style="color:white;" class="m-wrap"> Level 3: Start Pos: 0,984 Type(class): RelativeLayout ID:  Name:  Type(class): RelativeLayout Rectangle: 1440,290
<ul><li style="color:white;" class="m-wrap"> Level 4: Start Pos: 64,1048 Type(class): LinearLayout ID:  Name:  Type(class): LinearLayout Rectangle: 1152,162
<ul><li style="color:white;" class="m-wrap"> Level 5: Start Pos: 64,1048 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_title Name: Indie Weekend Type(class): TextView Rectangle: 414,86
</li></ul><ul><li style="color:white;" class="m-wrap"> Level 5: Start Pos: 64,1134 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_catergory Name: Rock Type(class): TextView Rectangle: 124,76
</li></ul></li></ul><ul><li style="color:white;" class="m-wrap"> Level 4: Start Pos: 1216,1048 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_duration Name: 00:26 Type(class): TextView Rectangle: 160,86
</li></ul></li></ul><ul><li style="color:white;" class="m-wrap"> Level 3: Start Pos: 0,1274 Type(class): RelativeLayout ID:  Name:  Type(class): RelativeLayout Rectangle: 1440,290
<ul><li style="color:white;" class="m-wrap"> Level 4: Start Pos: 64,1338 Type(class): LinearLayout ID:  Name:  Type(class): LinearLayout Rectangle: 1152,162
<ul><li style="color:white;" class="m-wrap"> Level 5: Start Pos: 64,1338 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_title Name: Britpop Loop Type(class): TextView Rectangle: 368,86
</li></ul><ul><li style="color:white;" class="m-wrap"> Level 5: Start Pos: 64,1424 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_catergory Name: Rock Type(class): TextView Rectangle: 124,76
</li></ul></li></ul><ul><li style="color:white;" class="m-wrap"> Level 4: Start Pos: 1216,1338 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_duration Name: 00:32 Type(class): TextView Rectangle: 160,86
</li></ul></li></ul><ul><li style="color:white;" class="m-wrap"> Level 3: Start Pos: 0,1564 Type(class): RelativeLayout ID:  Name:  Type(class): RelativeLayout Rectangle: 1440,290
<ul><li style="color:white;" class="m-wrap"> Level 4: Start Pos: 64,1628 Type(class): LinearLayout ID:  Name:  Type(class): LinearLayout Rectangle: 1152,162
<ul><li style="color:white;" class="m-wrap"> Level 5: Start Pos: 64,1628 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_title Name: Midnight In Glasgow Type(class): TextView Rectangle: 584,86
</li></ul><ul><li style="color:white;" class="m-wrap"> Level 5: Start Pos: 64,1714 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_catergory Name: Rock Type(class): TextView Rectangle: 124,76
</li></ul></li></ul><ul><li style="color:white;" class="m-wrap"> Level 4: Start Pos: 1216,1628 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_duration Name: 00:21 Type(class): TextView Rectangle: 160,86
</li></ul></li></ul><ul><li style="color:white;" class="m-wrap"> Level 3: Start Pos: 0,1854 Type(class): RelativeLayout ID:  Name:  Type(class): RelativeLayout Rectangle: 1440,290
<ul><li style="color:white;" class="m-wrap"> Level 4: Start Pos: 64,1918 Type(class): LinearLayout ID:  Name:  Type(class): LinearLayout Rectangle: 1152,162
<ul><li style="color:red;" class="m-wrap"> Level 5: Start Pos: 307,1930 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_title Name: Magnetic Type(class): TextView Rectangle: 267,86
</li></ul><ul><li style="color:white;" class="m-wrap"> Level 5: Start Pos: 64,2004 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_catergory Name: Rock Type(class): TextView Rectangle: 124,76
</li></ul></li></ul><ul><li style="color:white;" class="m-wrap"> Level 4: Start Pos: 1216,1918 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_duration Name: 00:23 Type(class): TextView Rectangle: 160,86
</li></ul></li></ul><ul><li style="color:white;" class="m-wrap"> Level 3: Start Pos: 0,2144 Type(class): RelativeLayout ID:  Name:  Type(class): RelativeLayout Rectangle: 1440,224
<ul><li style="color:white;" class="m-wrap"> Level 4: Start Pos: 64,2208 Type(class): LinearLayout ID:  Name:  Type(class): LinearLayout Rectangle: 1152,160
<ul><li style="color:white;" class="m-wrap"> Level 5: Start Pos: 64,2208 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_title Name: Groovy Background Type(class): TextView Rectangle: 556,86
</li></ul><ul><li style="color:white;" class="m-wrap"> Level 5: Start Pos: 64,2294 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_catergory Name: Rock Type(class): TextView Rectangle: 124,74
</li></ul></li></ul><ul><li style="color:white;" class="m-wrap"> Level 4: Start Pos: 1216,2208 Type(class): TextView ID: com.apalon.ringtones:id/ringtone_duration Name: 00:14 Type(class): TextView Rectangle: 160,86
</li></ul></li></ul></li></ul></li></ul></li><div class="buffer"></div></ul>
</ul>

<script type="text/javascript">
  function colorChange(names){
    for (var name in names){
      var list = document.getElementsByClassName(name);
      if (list[0].innerHTML != list[1].innerHTML){
          list[0].style.color = "gray";
          list[1].style.color = "gray";
      }
    }
  }
  var names = ["0","1"];
  colorChange(names);
</script>
</body>
